body {
  font-family: 'Open Sans', sans-serif;
  background: #c0c0ff;
  display: flex;
  flex-direction: column;
}

@media (orientation: portrait) {
  img {
    width: 100%;
  }
  body {
    font-size: 24pt;
  }
}

h1, h2 {
  margin: 0;
  text-align: center;
}

section {
  width: 100%;
  align-self: center;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a > div {
  color: white;
  background-color: green;
  text-transform: uppercase;
  padding: 10pt 0;
  border-radius: 20pt;
  border: solid 1px black;
}

.intro {
  width: 100%;
  text-align: center;
}

.intro div {
  margin: 1em;
}

.downloads {
  display: flex;
  flex-direction: row;
}

.download-containers-wrapper {
  margin: auto;
}

.download-container {
  background-color: #d0d0ff;
  width: 10em;
  text-align: center;
  display: inline-block;
  margin: 0 1em;
  padding: 1em;
}

.label {
  margin: 6pt 0;
}

.panel {
  max-width: 720px;
  background-color: #d0d0ff;
  margin-bottom: 1em;
  padding: 1em;
}

.panel h2 {
  margin-bottom: 1em;
}

.panel ul li::marker {
  color: maroon;
  content: "\25CE\00A0";
}

.panel ul, ol {
  padding-inline-end: 40px;
}

.panel textarea {
  display: block;
  width: 100%;
}

section img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.github-ribbon {
  position: absolute;
  top: 0;
  left: 0;
}
