name: Test and Build

on: [push]

jobs:
  test-and-build:
    runs-on: windows-latest

    env:
      Solution_Name: DayZServerMonitor.sln
      Test_Project_Path: TestDayZServerMonitorCore\TestDayZServerMonitorCore.csproj

    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Install .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.0.x

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2

    - name: Execute unit tests
      run: dotnet test

    - name: Restore the application
      run: msbuild $env:Solution_Name /t:Restore /p:Configuration=Release

    - name: Build the application
      run: msbuild $env:Solution_Name /t:Publish /p:Configuration=Release /m /verbosity:minimal
